@inherits System.Web.Mvc.WebViewPage


<div class="row-fluid">
    <!-- ==================== MASTER ACTIONS LIST ==================== -->
    <ul class="masterActions">
        <li>
            <i class="fa fa-envelope redText"></i>
            <h1 class="redText">Check &amp; send</h1>
            <p>new messages</p>
        </li>
        <li>
            <i class="fa fa-check-circle cyanText""></i>
            <h1 class="cyanText">Check &amp; add</h1>
            <p>new tasks</p>
        </li>
        <li>
            <i class="fa fa-shopping-cart greenText"></i>
            <h1 class="greenText">Check &amp; manage</h1>
            <p>new orders</p>
        </li>
        <li>
            <i class="fa fa-bar-chart orangeText" style="margin-left: 0px;"></i>
            <h1 class="orangeText">Check</h1>
            <p>statistics</p>
        </li>
        <li>
            <i class="fa fa-cloud-upload greyText"></i>
            <h1 class="greyText">Check &amp; upload</h1>
            <p>new files</p>
        </li>
    </ul>
    <!-- ==================== END OF MASTER ACTIONS LIST ==================== -->
</div>

<div>
    Index (HOme)
    Index (HOme)
    Index (HOme)
    Index (HOme)
    Index (HOme)
    Index (HOme)
    Index (HOme)
    Index (HOme)
    Index (HOme)
    Index (HOme)
    Index (HOme)
    Index (HOme)
    Index (HOme)
    Index (HOme)
    Index (HOme)
    Index (HOme)
    Index (HOme)
    Index (HOme)<br />
    Index (HOme)<br />
    Index (HOme)<br />
    Index (HOme)<br />
    Index (HOme)<br />
    Index (HOme)<br />
    Index (HOme)<br />
    Index (HOme)<br />
    Index (HOme)<br />
    Index (HOme)<br />
    Index (HOme)<br />
    Index (HOme)<br />
    Index (HOme)<br /><br />
    Index (HOme)<br />
    Index (HOme)<br /><br />
    Index (HOme)<br />
    Index (HOme)<br /><br /><br />
    Index (HOme)<br />
    Index (HOme)<br /><br />
    Index (HOme)<br /><br />
    Index (HOme)<br />
    Index (HOme)<br />
    Index (HOme)<br /><br />
    Index (HOme)<br />
    Index (HOme)<br />
    Index (HOme)<br />
    Index (HOme)<br />
    Index (HOme)<br /><br /><br /><br />
    Index (HOme)<br /><br /><br />
    Index (HOme)<br /><br />
    Index (HOme)<br /><br /><br />
    Index (HOme)<br />
    Index (HOme)<br /><br />
    Index (HOme)<br />
    Index (HOme)<br /><br />
    Index (HOme)
    Index (HOme)
    Index (HOme)
    Index (HOme)
    Index (HOme)

</div>
